name: auto upload to github pages
on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install and Build
        run: |
          npm ci
          npm run build

      # - name: Deploy to page branch
      #   uses: peaceiris/actions-gh-pages@v3
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     publish_dir: ./dist
      #     publish_branch: page
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.deploy_key }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          eval "$(ssh-agent -s)"
          ssh-add ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          
      - name: Push dist to page branch
        run: |
          cd dist
          git init
          
          # 使用你提供的用户名和邮箱
          git config user.name "Czhangzihao"
          git config user.email "101560703+Czhangzihao@users.noreply.github.com"

          # 设置远程仓库，使用 GitHub token 认证
          git remote add origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/YOuRHhH/zztoolDocument.git

          git add -A
          git commit -m "deploy: update dist" || echo "No changes to commit"
          git push origin HEAD:page -f

          cd -